<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="restaurante"></ion-back-button>
    </ion-buttons>

    <ion-title class="ion-text-center">Tu restaurante</ion-title>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/restaurante/editar']">Editar</ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">{{restaurant.restaurant_name}}</ion-card-title>
      <ion-card-subtitle class="ion-text-center"> {{restaurant.ubication}} </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-img *ngIf="flag" src={{imagen}}> </ion-img>
      <ion-img *ngIf="!flag" src={{restaurant.imageUrl}}> </ion-img>
      <br>
      Publicado por: {{admin}}
    </ion-card-content>
  </ion-card>
</ion-content>
